html{
    background-color: black;

}

    

.test{
    background-color: blue;
    color: white;
    width: 300px;
    padding: 20px;
    text-align: center;
    font-size: 3em;

    transition: all 2s;
    animation: color_change 10s infinite alternate;
}
.test:hover{
    transform: translatex(200px);
    background-color: red;

}
@keyframes color_change{
    0%{
        background-color: blue;
    }
    50%{
        background-color: red;
    }
    100%{
        background-color: greenyellow;
    }
    
}
@font-face{
    font-family: "bob2";
    src: url(deadly_killers/DEADLY\ KILLERS.ttf);
    font-family: "bob3";
    src: url(gloomy_things/Gloomy.ttf.ttf);
}

.Bonjour{
    display: flex;
    width: 100%;
    height: 300px;
    font-family:"bob3"; 
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: darkgreen;
    align-items: center;
    font-size: 2cm;
    flex-direction: column;
    text-shadow: 3px 3px black;
    text-shadow: 1em;
}
.Aurevoir{
    display: flex;
    width: 100%;
    height: 300px;
    font-family:"bob2"; 
    background: rgb(14,0,255);
    background: linear-gradient(90deg, rgba(14,0,255,1) 0%, rgba(18,255,0,1) 53%, rgba(255,0,0,1) 95%);
    color: darkgreen;
    align-items: center;
    font-size: 2cm;
    flex-direction: column;
    text-shadow: 3px 3px black;
    text-shadow: 1em;
}  
.lien1{
    display: flex;
    width: 20%;
    height: 50px;
    flex-direction: column;
    align-items: center;
    
}

.lien1 :hover{
    visibility: none;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    animation: color_change 2s infinite;
    transition:all 2s;
    transform: translatex(200px);
}
.lien2{
    
    display: flex;
    width: 20%;
    height: 50px;
    flex-direction: column;
    align-items: center;
    
}


.lien2:hover{
    visibility: visible;
    display: flex;
    width: 20%;
    height: 50%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: aqua;
    animation: color_change 2s infinite;
    transition-delay: 50ms;
    transform: scaleX(2);
    transition-delay: 50ms;
    transform: scaleY(2);
    transition-delay: 50ms;
    transform: scaleX(2);
    transition-delay: 50ms;
    transform: scaleY(2);
    



}
.lien3{
    display: flex;
    width: 20%;
    height: 50px;
    flex-direction: column;
    align-items: center;
    
}

.lien3 :hover{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    animation: color_change 2s infinite;
   transition: all 6s;
    transform: rotate(360deg);
    transform: rotate(-360deg);

}
.lien4{
    display: flex;
    width: 20%;
    height: 50px;
    flex-direction: column;
    align-items: center;
    
}

.lien4 :hover{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    animation: color_change 2s infinite;

    transform-origin: left bottom;
    transform-origin: 0% 100%;
    transition: all 4s;
    transform: translatex(200px);
    background-color: red;
}
h1{
    color: white;
}
p{
    color: white;
 
}
@keyframes ani{
    

}
a:hover{
    stop-color: blueviolet;
}
